<div>
  <!--<button mat-raised-button (click)="loadFileServer()" i18n>Load from Server</button>
  <button mat-raised-button (click)="saveFileServer()" i18n>Save to Server</button>-->
  <button mat-raised-button (click)="fileInput.click()">
    <span i18n>Load from Computer</span>
    <input #fileInput type="file" multiple accept="{{xmlFileExtensions}}" (change)="onFileInput($event)" style="display:none;" />
  </button>
  <button mat-raised-button (click)="onSaveFileLocal()" i18n>Save to Computer</button>
  <!--<button mat-raised-button (click)="openDialog()">Launch dialog</button>-->
</div>
<div class="container-medium">
  <app-grid-documents (documentLoaded)="onDocumentLoaded($event)"></app-grid-documents>
</div>
<mat-tab-group>
  <mat-tab *ngFor="let c of configurations; let i = index" label="{{c.name}}">
    <app-tool-selector-tab #selectorTab [header]="'tab_'+(i+1).toString()" [configuration]="configurations[i]"></app-tool-selector-tab>
  </mat-tab>
</mat-tab-group>