
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

a {
  text-decoration: none;
}

.container, .container-medium, .container-wide {
  font-size: 13px;
  float: left;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.container {
  width: 300px;  
}

.container-medium {
  width: 400px;  
}

.container-wide {
  width: 500px;  
}

.input-wide {
  width: 300px;
}

/* Auto size menu items */
.dd-handle {
  height: auto;
}