<p>
  <button mat-raised-button (click)="onFCRefreshClick()" title="Refresh"><img src="assets/images/refresh.png" /></button>
  <button mat-raised-button (click)="onFCAddClick()" title="Add"><img src="assets/images/add.png" /></button>
  <button mat-raised-button (click)="onFCRemoveClick()" *ngIf="showRemove" title="Remove"><img src="assets/images/remove.png" /></button>
  <button mat-raised-button (click)="onFCEditClick()" title="Edit"><img src="assets/images/edit.png" /></button>
</p>
<ag-grid-angular 
  style="width: 100%; height:350px"
  class="ag-theme-balham"
  [rowData]="rowDataFC"
  [columnDefs]="columnDefsFC"
  [gridOptions]="gridOptionsFC"
  (gridReady)="onFCGridReady($event)"
  (keydown)="onFCKeyDown($event)">
</ag-grid-angular>
<p>
  <button mat-raised-button (click)="onFAddClick()" title="Add" i18n><img src="assets/images/add.png" /></button>
  <button mat-raised-button (click)="onFRemoveClick()" *ngIf="showRemove" title="Remove" i18n><img src="assets/images/remove.png" /></button>
  <button mat-raised-button (click)="onFEditClick()" title="Edit" i18n><img src="assets/images/edit.png" /></button>
</p>
<ag-grid-angular 
  style="width: 100%; height:160px"
  class="ag-theme-balham"
  [rowData]="rowDataF"
  [columnDefs]="columnDefsF"
  [gridOptions]="gridOptionsF">
</ag-grid-angular>
