<p>
  <button mat-raised-button (click)="onFCRefreshClick()" title="Refresh"><img src="assets/images/refresh.png" /></button>
  <button mat-raised-button (click)="onFCAddClick()" title="Add"><img src="assets/images/add.png" /></button>
  <button mat-raised-button (click)="onFCRemoveClick()" *ngIf="showRemove" title="Remove"><img src="assets/images/remove.png" /></button>
  <button mat-raised-button (click)="onEditFCClick()" title="Edit"><img src="assets/images/edit.png" /></button>
</p>
<ag-grid-angular 
  style="width: 100%; height:230px"
  class="ag-theme-balham"
  [rowData]="rowDataFC"
  [columnDefs]="columnDefsFC"
  [gridOptions]="gridOptionsFC"
  (gridReady)="onFCGridReady($event)"
  (selectionChanged)="onFCSelectionChanged($event)"
  (rowClicked)="onFCRowClick($event)"
  (rowDoubleClicked)="onFCRowDoubleClick($event)">
</ag-grid-angular>
<p>
  <button mat-raised-button (click)="onAddFClick()" title="Add" i18n><img src="assets/images/add.png" /></button>
  <button mat-raised-button (click)="onRemoveFClick()" *ngIf="showRemove" title="Remove" i18n><img src="assets/images/remove.png" /></button>
  <button mat-raised-button (click)="onEditFClick()" title="Edit" i18n><img src="assets/images/edit.png" /></button>
</p>
<ag-grid-angular 
  style="width: 100%; height:230px"
  class="ag-theme-balham"
  [rowData]="rowDataF"
  [columnDefs]="columnDefsF"
  [gridOptions]="gridOptionsF"
  (gridReady)="onFGridReady($event)"
  (selectionChanged)="onFSelectionChanged($event)"
  (rowClicked)="onFRowClick($event)"
  (rowDoubleClicked)="onFRowDoubleClick($event)">
</ag-grid-angular>
