<div>
  <p i18n>{{header}}</p>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Name" [(ngModel)]="dataItem.name" name="name" type="text" (keyup)="onKeyUp($event)" required/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><textarea matInput i18n-placeholder placeholder="Description" [(ngModel)]="dataItem.description" name="description" type="text" (keyup)="onKeyUp($event)"></textarea></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Type" [(ngModel)]="dataItem.type" name="type" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button (click)="onOKClick()" i18n>OK</button>
    <button mat-raised-button (click)="onCancelClick()" i18n>Cancel</button>
  </div>
</div>
