<div>
  <p i18n>{{header}}</p>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="First Name" [(ngModel)]="dataItem.first_name" name="firstName" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Last Name" [(ngModel)]="dataItem.last_name" name="lastName" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Full Name" [(ngModel)]="dataItem.full_name" name="fullName" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Preposition" [(ngModel)]="dataItem.preposition" name="preposition" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><textarea matInput i18n-placeholder placeholder="Description" [(ngModel)]="dataItem.description" name="description" type="text" (keyup)="onKeyUp($event)"></textarea></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Occupation" [(ngModel)]="dataItem.occupation" name="occupation" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input-wide2"><input matInput i18n-placeholder placeholder="Place of Birth" [(ngModel)]="dataItem.place_of_birth" name="placeOfBirth" type="text" (keyup)="onKeyUp($event)"/></mat-form-field>  </div>
  <div class="row">
    <mat-form-field><input matInput placeholder="Date of Birth" [(ngModel)]="dataItem.date_born" name="date"/></mat-form-field>
  </div>
  <div class="row">
    <mat-form-field><input matInput  placeholder="Deceased Date" [(ngModel)]="dataItem.date_deceased" name="dateDeceased"/></mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button (click)="onOKClick()" i18n>OK</button>
    <button mat-raised-button (click)="onCancelClick()" i18n>Cancel</button>
  </div>
</div>
