
/* TODO: Find a better way to show the all scroll cursor, it doesn't seem possible via .dd-handle etc. */
.dd {
  cursor: all-scroll;
}

.page-container {
  width: 100%;
}
.container.menu{
  width: fit-content;
}
.container.add{
  width: fit-content;
  position: fixed;
}
.container-wide {
  width: 18%;
  display: inline-block;
}