.float {
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}

.bolded {
  color: green;
}

.text-box{
  height: 270px;
  width: 15rem;
}

.ag-theme-balham{
  width: 60rem;
  height: 50rem;
}

.ag-theme-balham{

}