<div class="page-container">
  <!-- Publications grid -->
  <div class="container-medium">
    <app-grid-publications
      [editMode]="true"
      (listLevelChanged)="onListLevelChanged($event)"
      (publicationCollectionOpened)="onPublicationCollectionOpened($event)"
      (publicationOpened)="onPublicationOpened($event)">
    </app-grid-publications>
  </div>
  <!-- Publication Collections -->
  <div *ngIf="showPublicationCollectionGUI" class="container-medium-narrow">
    <div class="box-header" i18n>Title</div>
    <div class="box">
      <button mat-raised-button (click)="onLoadTitleClick()" i18n><img src="assets/images/file.png" /></button><div class="text-field inline">{{titleText}}</div>
    </div>
    <div class="box-header" i18n>Introduction</div>
    <div class="box">
      <button mat-raised-button (click)="onLoadIntroductionClick()" i18n><img src="assets/images/file.png" /></button><div class="text-field inline">{{introductionText}}</div>
    </div>
  </div>
  <!-- Publications -->
  <div *ngIf="showPublicationGUI" class="container-medium-narrow">
    <div class="box-header" i18n>Reading text</div>
    <div class="box">
      <button mat-raised-button (click)="onLoadReadingTextClick()" i18n><img src="assets/images/file.png" /></button><div class="text-field inline">{{readingText}}</div>
    </div>
    <div class="box-header" i18n>Comments</div>
    <div class="box">
      <button mat-raised-button (click)="onLoadCommentsClick()" i18n><img src="assets/images/file.png" /></button><div class="text-field inline">{{comments}}</div>
    </div>
    <div class="box-header" i18n>Versions</div>
    <div class="box">
      <div><app-grid-texts [rowData]="rowDataVersions" [dataType]="dataItemTypes.Version"></app-grid-texts></div>
    </div>
    <div class="box-header" i18n>Manuscripts</div>
    <div class="box">
      <div><app-grid-texts [rowData]="rowDataManuscripts" [dataType]="dataItemTypes.Manuscript"></app-grid-texts></div>
    </div>
  </div>
  <div *ngIf="showPublicationGUI" class="container-medium-narrow">
    <div class="box-header" i18n>Facsimiles</div>
    <div><app-grid-facsimiles></app-grid-facsimiles></div>
  </div>
</div>
